@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/raleway-regular-webfont.woff2')format('woff2'),
       url('/assets/fonts/Raleway-Regular.woff')format('woff');
}
@font-face {
  font-family: 'Specified';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Product-Sans-Regular.woff')format('woff');
}
.specified-font {
  font-family: 'Specified', sans-serif !important;
}

* {
  color: rgb(80,80,80);
}
/* Color */

.green     { color: #227D51; }
.blue      { color: #0B346E; }
.lightblue { color: #3A8FB7; }
.orange    { color: #F05E1C; }
.color1    { color: #0B346E; }
.color2    { color: #3A8FB7; }
.color3    { color: #77B6D4; }
.color4    { color: #93C5DD; }

.background-color2 {
  background-color: #3A8FB7 !important;
}

/* Size */

.height-50 {
  height: 50% !important;
}

.width-100 {
  width: 100% !important;
}

/* Space */

.space-0 {
  margin: 0.1em !important;
}

.margin-left1 {
  margin-left: 1em !important;
}

/* Layout */

.left-column {
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  width: 50% !important;
}

.right-column {
  position: relative !important;
  top: 0 !important;
  left: 50% !important;
  width: 50% !important;
}

/* Box Style */

.box-style {
  position: relative !important;
  top: 0 !important;
  font-size: 1.2em !important;
  padding-top: 0.5em !important;
  margin-bottom: 0.7em !important;
  margin-right: 20px !important;
  /* background-color: rgba(255,255,255,0.1) !important; */
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.05) !important;
  border: rgb(240,240,240) solid 1px !important;
  width: 100% !important;
}

.box-style-blue {
  position: relative !important;
  top: 0 !important;
  font-size: 1.2em !important;
  padding-top: 0.5em !important;
  margin-bottom: 0.7em !important;
  border: none !important;
  background-color: white !important;
  color: #3A8FB7 !important;
  width: 98% !important;
}

/* Quote */
.quote-wrap {
  width: 96% !important;
  margin-left: 0.01em !important;
  margin-right: 20px !important;
}

/* override quote-text */

.quote-text {
  font-size: 0.9em !important;
  margin-top: 0 !important;
}
.quote-text i:before {
  display: none !important;
}
.quote-text li {
  margin-bottom: 0.2em !important;
}
.quote-text li li {
  margin-top: -0.01em !important;
  margin-left: -0.6em !important;
  color: rgb(140,140,140);
}
.quote-text li li:first-child {
  margin-top: 0.3em !important;
}
.quote-text li li:last-child {
  margin-bottom: 15px !important;
}

.quote-text.quote-attribution {
  margin-left: 1em !important;
}


/* Image */
.goal-image {
  position: relative !important;
  left: 10% !important;
  width: 80% !important;
  text-align: center !important;
  margin: 0 !important;
}

/* Gist */

.gist-box {
  position: relative !important;
  top: -0.2em !important;
}
.gist-box i {
  margin-left: 0.08em !important;
}
.gist-box a {
  font-size: 0.6em !important;
  top: -0.3em !important;
  margin-left: 0.3em !important;
}
.gist-box code {
  position: relative;
  width: 97% !important;
  height : 20em !important;
  padding: 1.5em !important;
  margin-right: 20px !important;
  background-color: rgba(255,255,255,0.1) !important;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05) !important;
  border: rgb(240,240,240) solid 1px !important;
}
.gist-box .code-presenting-annotation {
  text-align: center !important;
  padding: 0.5em !important;
  margin-top: 0.7em !important;
  border-radius: 0 !important;
}

/* Bread Crumb */

.breadcrumbs-wrap {
  position: fixed !important;
  top:  0 !important;
  left: 20px !important;
}

.breadcrumbs *, .breadcrumbs *:after, .breadcrumbs *:before {
	-webkit-box-sizing: border-box !important;
	        box-sizing: border-box !important;
}
.breadcrumbs {
	overflow: hidden !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
  list-style: none !important;
}
.breadcrumbs ol {
  padding-top:  -20px !important;
}
.breadcrumbs li {
	display: inline-block !important;
  margin-left: -0.08em !important;
}
.breadcrumbs a {
  position: relative !important;
	display: inline-block !important;
	margin: 0 !important;
	padding: 0.8em 1em 0.8em 2em !important;
	text-decoration: none !important;
	color: #ffffff !important;
  font-size: 0.35em !important;
}
.breadcrumbs a::after,
.breadcrumbs a::before {
	position: absolute;
	top: 51% !important;
  right: -1.46em !important;
	margin-top: -1.48em !important;
	content: '' !important;
	border-top: 1.48em solid transparent !important;
  border-bottom: 1.48em solid transparent !important;
  border-left: 1.5em solid !important;
	}
.breadcrumbs a::after {
  z-index: 2 !important;
}
.breadcrumbs a::before {
	z-index: 1 !important;
	right: -1.8em !important;
  border-left-color: #ffffff !important;
}
.bluescale .breadcrumbs a::before {
  border-left-color: #3A8FB7 !important;
}

.breadcrumbs li:first-child  a       { background:        #0B346E !important; z-index: 6 !important; }
.breadcrumbs li:first-child  a:after { border-left-color: #0B346E !important; z-index: 6 !important; }
.breadcrumbs li:nth-child(2) a       { background:        #3A8FB7 !important; z-index: 5 !important; }
.breadcrumbs li:nth-child(2) a:after { border-left-color: #3A8FB7 !important; z-index: 5 !important; }
.breadcrumbs li:nth-child(3) a       { background:        #77B6D4 !important; z-index: 4 !important; }
.breadcrumbs li:nth-child(3) a:after { border-left-color: #77B6D4 !important; z-index: 4 !important; }
.breadcrumbs li:nth-child(4) a       { background:        #93C5DD !important; z-index: 1 !important; }
.breadcrumbs li:nth-child(4) a:after { border-left-color: #93C5DD !important; z-index: 1 !important; }

.bluescale .breadcrumbs li:first-child a       { background:        #0B346E !important; z-index: 2 !important; }
.bluescale .breadcrumbs li:first-child a:after { border-left-color: #0B346E !important; z-index: 2 !important; }
.bluescale .breadcrumbs li:last-child  a       { background:        #FFFFFF !important; z-index: 1 !important; }
.bluescale .breadcrumbs li:last-child  a:after { border-left-color: #FFFFFF !important; z-index: 1 !important; }

.breadcrumbs li:first-child a {
  left: 0 !important;
  margin-left: 5px !important;
  border-radius: 5px 0 0 5px;
}
.breadcrumbs li:last-child a {
  left: 0 !important;
	cursor: default !important;
	pointer-events: none !important;
	border-radius: 0 5px 5px 0 !important;
}
.bluescale .breadcrumbs li:last-child a {
  color: #3A8FB7 !important;
}
.breadcrumbs li:last-child a:hover {
	background: none !important;
}
.breadcrumbs li:last-child a::before,
.breadcrumbs li:last-child a::after {
	content: normal !important;
}

/* ul */

.reveal ul {
  list-style-type: none !important;
}
.reveal ul li:before {
  position: relative;
  top: -8px;
  left: -0.5em;
  display: inline-block;
  width: 0.18em;
  height: 0.18em;
  content: '';
  border-radius: 1em;
  background-color: rgb(80,80,80);
}
.reveal ul ul li {
  font-size: 0.8em;
}
.reveal ul ul li::before {
  width: 0.2em;
  height: 0.2em;
  border-radius: 0;
  background-color: rgb(140,140,140);
}

/* ol */

.reveal ol.numberlist {
  width: 100%;
  position: absolute !important;
  left: 0 !important;
  text-align: left !important;
  margin-left: 0 !important;
}
.reveal ol.numberlist li {
    list-style-type: none !important;
}
.reveal ol.numberlist li {
  position: relative !important;
  counter-increment: step-counter !important;
}
.reveal ol.numberlist li::before {
  color: white;
  font-size: 80%;
  /* font-weight: bold; */
  padding: 3px 10px;
  margin-right: 15px;
  border-radius: 3px;
  background-color: #0B346E;
  content: counter(step-counter);
}
.reveal ol.numberlist-color1 li::before { background-color: #0B346E; }
.reveal ol.numberlist-color2 li::before { background-color: #3A8FB7; }
.reveal ol.numberlist-color3 li::before { background-color: #77B6D4; }
.reveal ol.numberlist-color4 li::before { background-color: #93C5DD; }

.reveal ol.start-1  { counter-reset: step-counter 0 !important; }
.reveal ol.start-2  { counter-reset: step-counter 1 !important; }
.reveal ol.start-3  { counter-reset: step-counter 2 !important; }
.reveal ol.start-4  { counter-reset: step-counter 3 !important; }
.reveal ol.start-5  { counter-reset: step-counter 4 !important; }
.reveal ol.start-6  { counter-reset: step-counter 5 !important; }
.reveal ol.start-7  { counter-reset: step-counter 6 !important; }
.reveal ol.start-8  { counter-reset: step-counter 7 !important; }
.reveal ol.start-9  { counter-reset: step-counter 8 !important; }
.reveal ol.start-10 { counter-reset: step-counter 9 !important; }
.reveal ol.start-11 { counter-reset: step-counter 10 !important; }
.reveal ol.start-12 { counter-reset: step-counter 11 !important; }
.reveal ol.start-13 { counter-reset: step-counter 12 !important; }
.reveal ol.start-14 { counter-reset: step-counter 13 !important; }
.reveal ol.start-15 { counter-reset: step-counter 14 !important; }

/* iframe */
.iframe-style
{
  width: 100% !important;
  height: 400px !important;
  overflow: scroll;
  margin-top: 100px !important;
}

/* Title */
.headline h1, .headline h2 {
  letter-spacing: 0.01em;
  line-height: 1.5em !important;
  font-size: 2.5em !important;
 /*font-variant: small-caps !important;*/
}

.headline-detail {
  margin-left: 0.2em !important;
}

.headline-detail span {
  color: #93C5DD !important;
}

/* Sub Title */
.sub-headline {
  color: #0B346E;
  margin-left: 10px !important;
}

/* Slide Title */

.slide-title {
  position: fixed !important;
  top: 1.7em !important;
  left: 20px !important;
  font-size: 0.9em !important;
  text-align: center !important;
  border-bottom: solid 2px gainsboro !important;
  padding-bottom: 10px !important;
  margin-right: 20px !important;
  width: 95% !important;
  color: #0B346E;
}

.detail-comment {
  font-size: 0.6em !important;
  margin-left: 22px !important;
  color: rgb(140,140,140);
}

/* Slide Contents */

.slide-contents {
  position: fixed !important;
  top: 200px !important;
  left: 20px !important;
  font-size: 0.8em !important;
  display: inline-block !important;
  text-align: left !important;
  vertical-align: top !important;
  /* width: 950px !important; */
  margin-right: 20px !important;
  width: 95% !important;

}

.slide-contents table {
  background-color: rgba(255,255,255,0.1) !important;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.05) !important;
  width: 100% !important;
  font-size: 0.9em !important;
}
.slide-contents table, tr, th, td {
  border: rgb(240,240,240) solid 1px !important;
}
.slide-contents th {
  background-color: #77B6D4 !important;
  color: white;
  font-weight: normal !important;
}

/* Intro Template Styles */
.byline {
  letter-spacing: 0.01em;
}

/* Split-Screen Template Styles */

.split-screen-img {
  border-radius: 8% !important;
}

.split-screen-list li {
  margin:0 0 40px 0;
}

.split-screen-list li::before {
  color: #F05E1C !important;
  background-color: white !important;
}

.code {
  font-size: 0.8em !important;
  font-weight: 100 !important;
}

.agenda {
  font-size: 0.8em !important;
}
.reveal h2 {
  font-size: 1.2em;
}
.reveal pre {
  font-size: 0.7em;
}
.reveal p {
  font-size: 0.8em;
}

/* List-Content Template Styles */

.list-content-concise li {
  margin:0 0 1px 0;
}

.list-content-verbose ul {
  list-style-type: square;
}

.list-content-verbose li {
  font-size: 0.8em;
  margin:0 0 40px 0;
}

.list-bullets-black li::before {
  background-color: black !important;
}

.list-bullets-circles {
  list-style-type: circle !important;
}

/** Boxed-Text Template Styles ***/

.demo-box-text-padding #boxed-text {
  padding-top: 1.95em;
  padding-bottom: 1.95em;
}

.demo-box-step-padding #boxed-text {
  padding-top: 1.8em;
  padding-bottom: 2.3em;
}

/** Image Template Styles ***/

/** Sidebox Template Styles ***/

/** Code-Presenting Template Styles ***/

.hljs {
  background: none;
}

.reveal pre {
  width: 98%;
  margin: 0;
  box-shadow: none;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  border-radius: 10px;
  max-height: 60vh !important;
  overflow: hidden !important;
}

@media (device-width: 100vw) and (device-height: 100vh) {
  .reveal pre code {
    max-height: 50vh !important;
  }
}

/** Header-Footer Template Styles ***/

.header-footer-list-shrink li {
  color: white;
  font-size: 0.7em;
  margin:0 0 20px 0;
}

/** Quotation Template Styles ***/

/** Announcements Template Styles ***/

.announce-big-news {
  font-size: 7em !important;
}

.announce-coming-soon {
  font-size: 6.5em !important;
}

/** About Template Styles **/

.about-team-pic img {
  width: 60%;
  border: none !important;
  box-shadow: none !important;
  -webkit-clip-path: circle(35% at 50% 50%);
  clip-path: circle(35% at 50% 50%);
}

.about-team-pic-center img {
  width: 70%;
}

/** Wrap-Up Template Styles **/

.contact-name {
  font-size: 0.6em !important;
  font-weight: 800 !important;
  text-transform: uppercase !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.contact-email {
  font-size: 0.5em !important;
  font-weight: 600 !important;
}

.contact-links {
  color: #0B346E !important;
}

.twitter-handle {
  font-size: 0.5em !important;
  font-weight: bolder !important;
  vertical-align: middle !important;
}

.git-handle {
  font-size: 0.5em !important;
  font-weight: bolder !important;
  vertical-align: middle !important;
}

.pad-right-icon {
  padding-right: 0.4em;
}

.pad-left-icon {
  padding-left: 0.4em;
}

.sign-off h3, .sign-off h4 {
  color: white;
}

/** Final Slide Styles */

.docslink {
  font-size: 0.5em !important;
  font-variant: small-caps !important;
  letter-spacing: 0.2em;
}

div.docslink a {
  color: gray !important;
}

div.docslink a:hover {
  color: #F05E1C !important;
  font-weight: bold;
}

/** General Template Styles **/

.template-note {
  letter-spacing: 0.1em;
  font-size: 0.4em !important;
}

#gp-logo img {
  max-height: 3.5em;
  max-width: none;
}

#title-footer a {
  color: black;
}

#title-footer p.footer-hard {
   color: black;
}

/** Reveal.js Core Override Styles **/

.reveal section img {
  border: none;
  box-shadow: none;
  background: none;
}

.reveal .slide-number {
  color: black !important;
}

.reveal blockquote {
    width: 100%;
    padding: 17px;
    border-radius: 17px;
    background: rgba(255,255,255,0.2);
}

.reveal p span.slide-title {
  display: none;
}

.reveal .slides section .code-presenting-annotation {
  color: white;
  background: black;
  padding: 0px 15px;
  border-radius: 15px;
  opacity: 0.75 !important;
  font-size: 50% !important;
}

/** color set */

/** img set */
.reveal img.clip-img {
  clip-path: circle(30% at 50% 50%);
  -webkit-clip-path: circle(30% at 50% 50%);
}
