@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/raleway-regular-webfont.woff2')format('woff2'),
       url('/assets/fonts/Raleway-Regular.woff')format('woff');
}

@font-face {
  font-family: 'Specified';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/Product-Sans-Regular.woff')format('woff');
}
.specified-font {
  font-family: 'Specified', sans-serif !important;
}

/* Color */
.green {
  color: #227D51;
}

.blue {
  color: #0B346E;
}

.lightblue {
  color: #3A8FB7;
}
.orange {
  color: #F05E1C;
}

/* Size */
.height-50 {
  height: 50% !important;
}

.width-100 {
  width: 100% !important;
}

/* Margin */
.margin-right-0 {
  margin-right: 0px !important;
}

/* Space */
.space-0 {
  margin: 0.1em !important;
}

/* Page Number */
.page-number {
  position: fixed !important;
  top: 20px !important;
  left: 0px !important;
  font-size: 0.5em !important;
  text-align: left !important;
}

/* Bread Crumb */
.reveal dl.breadcrumbs-wrap {
  position: fixed !important;
  top:  0px !important;
  left: 0px !important;
}
.breadcrumbs *, .breadcrumbs *:after, .breadcrumbs *:before {
	-webkit-box-sizing: border-box !important;
	        box-sizing: border-box !important;
}
.breadcrumbs {
	overflow: hidden !important;
	width: 100% !important;
	margin: 5px 0px 0px 0px !important;
	padding: 0 !important;
	list-style: none !important;
}
.breadcrumbs li {
	display: inline-block !important;
	padding: 0 !important;
	margin: 0 0 0.5em 0 !important;
}
.breadcrumbs a {
	position: relative !important;
	display: inline-block !important;
	margin: 0 !important;
	padding: 0.7em 1em 0.7em 2em !important;
	text-decoration: none !important;
	color: #ffffff !important;
  /* background-color: #0B346E !important; */
  font-size: 0.35em !important;
}
.breadcrumbs li:first-child a {
	padding-left: 1em !important;
	border-radius: 5px 0 0 5px !important;
}
.breadcrumbs a::after,
.breadcrumbs a::before {
	position: absolute;
	top: 50% !important;
  right: -1.47em !important;
	margin-top: -1.37em !important;
	content: '' !important;
	border-top: 1.37em solid transparent !important;
	border-bottom: 1.37em solid transparent !important;
	border-left: 1.47em solid !important;
	}
.breadcrumbs a::after {
	z-index: 2 !important;
	/* border-left-color: #0B346E !important; */
}
.breadcrumbs a::before {
	z-index: 1 !important;
	right: -2em !important;
	border-left-color: #ffffff !important;
}
.breadcrumbs li:first-child a        { background:        #0B346E !important; }
.breadcrumbs li:first-child a::after { border-left-color: #0B346E !important; }
.breadcrumbs li:nth-child(2) a       { background:        #2A5F83 !important; }
.breadcrumbs li:nth-child(2) a:after { border-left-color: #2A5F83 !important; }
.breadcrumbs li:nth-child(3) a       { background:        #4A8797 !important; }
.breadcrumbs li:nth-child(3) a:after { border-left-color: #4A8797 !important; }
.breadcrumbs li:nth-child(4) a       { background:        #6AA9AB !important; }
.breadcrumbs li:nth-child(4) a:after { border-left-color: #6AA9AB !important; }
.breadcrumbs li:nth-child(5) a       { background:        #8ABEB6 !important; }
.breadcrumbs li:nth-child(5) a:after { border-left-color: #8ABEB6 !important; }

.breadcrumbs li:last-child a {
  left: -0.05em !important;
	cursor: default !important;
	pointer-events: none !important;
	color: black !important;
	background: #CCE4D7 !important;
	border-radius: 0 5px 5px 0 !important;
}
.breadcrumbs li:last-child a:hover {
	background: none !important;
}
.breadcrumbs li:last-child a::before,
.breadcrumbs li:last-child a::after {
	content: normal !important;
}

/*
.reveal dl.breadcrumbs-wrap .breadcrumbs {
 border: solid 1px #ccc !important;
 border-width: 1px 0 !important;
}

.reveal dl.breadcrumbs-wrap .breadcrumbs ul,
.reveal dl.breadcrumbs-wrap .breadcrumbs li {
 margin: 0 !important;
 padding: 0 !important;
}

.reveal dl.breadcrumbs-wrap .breadcrumbs a {
 color: #9b4dca !important;
 text-decoration: none !important;
}

.reveal dl.breadcrumbs-wrap .breadcrumbs a:hover {
 color: #606c76 !important;
}

.reveal dl.breadcrumbs-wrap .breadcrumbs ul {
 display: flex !important;
 width: 1000px !important;
 margin: auto !important;
}

.reveal dl.breadcrumbs-wrap .breadcrumbs li {
 list-style: none !important;
 font-size: 14px !important;
 height: 30px !important;
 line-height: 30px !important;
 margin-right: 35px !important;
 position: relative !important;
}

.reveal dl.breadcrumbs-wrap .breadcrumbs li:before,
.reveal dl.breadcrumbs-wrap .breadcrumbs li:after {
 content: "" !important;
 display: block !important;
 position: absolute !important;
 top: 0 !important;
 border-top: 15px solid transparent !important;
 border-right: 15px solid transparent !important;
 border-bottom: 15px solid transparent !important;
}

.reveal dl.breadcrumbs-wrap .breadcrumbs li:before{
 position: absolute !important;
 right: -40px !important;
 border-left: 15px solid #ccc !important;
}

.reveal dl.breadcrumbs-wrap .breadcrumbs li:after{
 position: absolute !important;
 right: -39px !important;
 border-left: 15px solid #fff !important;
}

.reveal dl.breadcrumbs-wrap .active a{
 color: #000 !important;
}
*/

/* iframe */
.iframe-style
{
  width: 100% !important;
  height: 400px !important;
  overflow: scroll;
  margin-top: 100px !important;
}

/* Title */
.headline {
  font-size: 0.7em !important;
  /*font-variant: small-caps !important;*/
}

/* Sub Title */
.sub-headline {
  font-size: 0.6em !important;
}

/* Slide Title */
.slide-title {
  position: fixed !important;
  top: 80px !important;
  left: 0px !important;
  font-size: 0.4em !important;
  font-weight: bold !important;
  text-align: center !important;
  border-bottom: solid 2px gainsboro !important;
  padding-bottom: 10px !important;
  width: 950px !important;
}

/* Slide Contents */
.slide-contents {
  position: fixed !important;
  top: 280px !important;
  left: 0px !important;
  font-size: 0.8em !important;
  display: inline-block !important;
  text-align: left !important;
  vertical-align: top !important;
  width: 950px !important;
}

/* Box Style */
.box-style {
  position: relative !important;
  top: 0px !important;
  border: none !important;
  background-color: white !important;
  color: #3A8FB7 !important;
  font-size: 1.2em !important;
  padding-top: 20px !important;
  margin-bottom: 20px !important;
}

/* Intro Template Styles */
.byline {
  letter-spacing: 0.1em;
}

/* Split-Screen Template Styles */

.split-screen-img {
  border-radius: 8% !important;
}

.split-screen-list li {
  margin:0 0 40px 0;
}

.split-screen-list li::before {
  color: #F05E1C !important;
  background-color: white !important;
}

.code {
  font-size: 0.8em !important;
  font-weight: 100 !important;
}

.agenda {
  font-size: 0.8em !important;
}
.reveal h2 {
  font-size: 1.2em;
}
.reveal pre {
  font-size: 0.7em;
}
.reveal p {
  font-size: 0.8em;
}

/* List-Content Template Styles */

.list-content-concise li {
  margin:0 0 1px 0;
}

.list-content-verbose ul {
  list-style-type: square;
}

.list-content-verbose li {
  font-size: 0.8em;
  margin:0 0 40px 0;
}

.list-bullets-black li::before {
  background-color: black !important;
}

.list-bullets-circles {
  list-style-type: circle !important;
}

/** Boxed-Text Template Styles ***/

.demo-box-text-padding #boxed-text {
  padding-top: 1.95em;
  padding-bottom: 1.95em;
}

.demo-box-step-padding #boxed-text {
  padding-top: 1.8em;
  padding-bottom: 2.3em;
}

/** Image Template Styles ***/

/** Sidebox Template Styles ***/

/** Code-Presenting Template Styles ***/

.hljs {
  background: none;
}

.reveal pre {
  width: 98%;
  margin: 0px;
  box-shadow: none;
}

.reveal pre code {
  font-size: 1.2em;
  line-height: 1.2;
  border-radius: 10px;
  max-height: 60vh !important;
  overflow: hidden !important;
}

@media (device-width: 100vw) and (device-height: 100vh) {
  .reveal pre code {
    max-height: 50vh !important;
  }
}

/** Header-Footer Template Styles ***/

.header-footer-list-shrink li {
  color: white;
  font-size: 0.7em;
  margin:0 0 20px 0;
}

/** Quotation Template Styles ***/

/** Announcements Template Styles ***/

.announce-big-news {
  font-size: 7em !important;
}

.announce-coming-soon {
  font-size: 6.5em !important;
}

/** About Template Styles **/

.about-team-pic img {
  width: 60%;
  border: none !important;
  box-shadow: none !important;
  -webkit-clip-path: circle(35% at 50% 50%);
  clip-path: circle(35% at 50% 50%);
}

.about-team-pic-center img {
  width: 70%;
}

/** Wrap-Up Template Styles **/

.contact-name {
  font-size: 0.6em !important;
  font-weight: 800 !important;
  text-transform: uppercase !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.contact-email {
  font-size: 0.5em !important;
  font-weight: 600 !important;
}

.contact-links {
  color: #0B346E !important;
}

.twitter-handle {
  font-size: 0.5em !important;
  font-weight: bolder !important;
  vertical-align: middle !important;
}

.git-handle {
  font-size: 0.5em !important;
  font-weight: bolder !important;
  vertical-align: middle !important;
}

.pad-right-icon {
  padding-right: 0.4em;
}

.pad-left-icon {
  padding-left: 0.4em;
}

.sign-off h3, .sign-off h4 {
  color: white;
}

/** Final Slide Styles */

.docslink {
  font-size: 0.5em !important;
  font-variant: small-caps !important;
  letter-spacing: 0.2em;
}

div.docslink a {
  color: gray !important;
}

div.docslink a:hover {
  color: #F05E1C !important;
  font-weight: bold;
}

/** General Template Styles **/

.template-note {
  letter-spacing: 0.1em;
  font-size: 0.4em !important;
}

#gp-logo img {
  max-height: 3.5em;
  max-width: none;
}

#title-footer a {
  color: black;
}

#title-footer p.footer-hard {
   color: black;
}

/** Reveal.js Core Override Styles **/
.reveal ol.numberlist {
  position: absolute !important;
  left: 0px !important;
  text-align: left !important;
  margin-left: 0px !important;
}

.reveal ol.numberlist li {
    /* margin-left: 0 !important; */
    /* padding-right: 0 !important; */
    list-style-type: none !important;
}

.reveal ol.numberlist li {
  position: relative !important;
  counter-increment: step-counter !important;
}

.reveal ol.numberlist li::before {
  color: white;
  font-size: 80%;
  font-weight: bold;
  padding: 3px 10px;
  margin-right: 15px;
  border-radius: 3px;
  background-color: #0B346E;
  content: counter(step-counter);
}

.reveal section img {
  border: none;
  box-shadow: none;
  background: none;
}

.reveal .slide-number {
  color: black !important;
}

.reveal blockquote {
    width: 100%;
    padding: 17px;
    border-radius: 17px;
    background: rgba(255,255,255,0.2);
}

.reveal p span.slide-title {
  display: none;
}

.reveal .slides section .code-presenting-annotation {
  color: white;
  background: black;
  padding: 0px 15px;
  border-radius: 15px;
  opacity: 0.75 !important;
  font-size: 50% !important;
}

/** color set */

/** img set */
.reveal img.clip-img {
  clip-path: circle(30% at 50% 50%);
  -webkit-clip-path: circle(30% at 50% 50%);
}
